@font-face {
	src: url("../fonts/Bebas.ttf");
	font-family: "Bebas";
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: #efefef;
	background-position: center top;
	background-attachment: fixed;
}

aside, nav, footer, header, section {
	display: block;
}

ul {
	list-style: none;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #000;
}

p {
	color: #333333;
}

select {
	font-size: 15px;
	height: 35px;
	width: 300px;
}

#wrapper {
	width: 1300px;
	margin: 0 auto;
	position: relative;
}

#middle {
	margin: 0 auto;
}

#content {
	
}


/* ------------------------------ */


/* Стили главных блоков */

#header {
	width: 1300px;
	height: 70px;
	background: transparent;
	margin: 0 auto;
}

#headerInner {
	width: 1100px;
	height: 70px;
	position: relative;
	margin: 0 auto;
}


/* ------------------------------ */


/* Стили верхнего меню */

#topMenuRight {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

#topMenuRight ul li {
	float: left;
	height: 70px;
}

#topMenuRight ul li a {
	color: #fff;
	padding: 25px 15px 27px 15px;
	display: block;
	font-size: 16px;
	transition-duration: 0.1s;
}

#topMenuRight ul li a:hover {
	color: #ffa700;
	transition-duration: 0.1s;
}


/* ------------------------------ */


/* Логотип */

#logo {
	position: absolute;
	top: 20px;
	left: 0px;
	color: #fff;
	transition-duration: 0.2s;
}

#logo h2 {
	color: #fff;
}

#logo h2:hover {
	color: #ff8b38;
	transition-duration: 0.2s;
}


/* ------------------------------ */


/* Билборд */

#billboard {
	width: 1300px;
	height: 596px;
	margin: 0 auto;
	background-image: url('../images/style_autumn/city_d.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#billboard>h1 {
	color: #fff;
	font-size: 45px;
	text-align: center;
}

#billboard>#controlPanel>#optionButton a{
	color: #fff;
}

#avatar {
	width: 150px;
	height: 150px;
	margin: 70px auto 40px auto;
	border-radius: 50%;
	border: 2px solid #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
}

#projectArea {
	width: 1300px;
	margin: 0 auto;
	background: #fff;
}

#projectArea>h1 {
	color: #000;
	font-size: 34px;
	text-align: center;
}

#projectAreaInner {
	padding: 0 0 180px 0;
	width: 1100px;
	margin: 0 auto -70px auto;
}

#itemsContainer {
	width: inherit;
	padding: 50px 0 0px 0;
	margin: 0 auto;
}

#itemsContainer:after {
	content: '';
	display: block;
	clear: both;
}

#projectItem>#optionButton {
	padding-top: 10px;
	margin: 10px 0 30px 0px;
}

#projectItem {
	float: left;
	width: 330px;
	padding-right: 30px;
}

#projectItem>a>h3, #projectItem>p{
	padding: 10px 10px 5px 10px;
}

#projectImage {
	width: 330px;
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


/* ------------------------------ */


/* Контакты (footer) */

footer {
	width: inherit;
	height: 480px;
	background-image: url('../images/style_autumn/map.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	margin: 0 auto;
}

#footerInner {
	width: 1100px;
	margin: 0 auto;
	padding-top: 150px;
}

#footerInnerLeft {
	float: left;
	padding-right: 20px;
	max-width: 380px;
}

#footerInnerRight {
	float: right;
	width: 650px;
}

#footerInnerLeft #avatar, #info {
	float: left;
}

#name_image>#avatar {
	margin: 0 20px 0 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#footerInnerLeft h1 {
	font-size: 25px;
	color: #fff;
}

#info {
	max-width: 220px;
	padding: 25px 0 0 0;
}

#name_image:after {
	content: '';
	display: block;
	clear: both;
}

#contacts_info {
	padding: 25px 0 0 0;
}

#contacts_info div {
	padding: 30px 0 0 0;
}

#contacts_info div:first-child {
	padding: 0 0 0 0;
}

#contacts_info div:after {
	content: '';
	display: block;
	clear: both;
}

#contacts_info div>img {
	height: 30px;
	display: block;
	float: left;
	padding: 0 20px 0 0;
}

#contacts_info p {
	color: #fff;
	font-size: 18px;
}

#social_info {
	padding: 50px 0 0 0;
}

#social_info a>img:hover {
	background: #d34836;
	transition-duration: 0.2s;
	border: 1px solid transparent;
}

#social_info img {
	width: inherit;
	border-radius: 50%;
	border: 1px solid #fff;
	width: 50px;
	transition-duration: 0.2s;
	margin-right: 20px;
}

.class_submit_btn {
	background: #fdc426 !important;
	color: #fff;
	font-size: 18px;
	width: 600px;
	padding: 10px 0 10px 0 !important;
}

.class_submit_btn:hover {
	background: #ffdc7a !important;
}

/* ------------------------------ */


/* Детальная информация о пользователе */

#details {
	width: 1300px;
	margin: 0 auto;
	padding: 70px 0 0 0;
}

#detailsInner {
	width: 800px;
	margin: 0 auto;
	color: #000;
}

#detailsInner h1 {
	font-size: 34px;
	padding: 50px 0 10px 0;
}

#detailsInner #detailsLeft:last-child {
	padding-bottom: 50px;
}

#detailsLeft {
	width: 380px;
	border-right: 1px solid #cbcbcb;
	padding-right: 19px;
}

#detailsLeft>h1, #detailsLeft>p {
	padding-right: 30px;
}

#detailsRight {
	margin: 0 0 0 auto;
	width: 400px;
	border-left: 1px solid #cbcbcb;
}

#detailsRight>h1, #detailsRight>p {
	padding-left: 30px;
}

.l_yellow {
	color: #ffd800;
}

.l_blue {
	color: #00deff;
}

.l_green {
	color: #3ce78c;
}

#gray_triangle {
	width: inherit;
	height: 88px;
	background-image: url('../images/style_autumn/gray_foot.png');
	background-repeat: no-repeat;
	padding-bottom: 70px;
}


/* ------------------------------ */


/* Панель управления (горизонтальная) */

#controlPanel {
	width: 1100px;
	display: block;
	margin: 0 auto;
}

#controlPanel #optionButton:first-child {
	margin-left: 0px;
}

#controlPanel #optionButton {
	float: left;
}

#controlPanel #optionButton {
	margin-left: 10px;
}

#controlPanel div:last-child {
	clear: both;
}

#optionButton {
	width: auto;
	margin: 10px 0 30px 60px;
}

#optionButton a {
	text-align: center;
	color: #000;
	padding: 8px 10px 8px 10px;
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px dotted #86878b;
}

#optionButton a:hover {
	border-bottom: 2px solid #ff8b38;
}


.pageMessage {
	padding: 15px 0 30px 20px;
	font-size: 18px;
	display: block;
}
