@font-face {
	src: url("../fonts/Bebas.ttf");
	font-family: "Bebas";
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-image: url("../images/main_background.jpg");
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center top;
	background-attachment: fixed;
}

aside, nav, footer, header, section {
	display: block;
}

ul {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

p {
	/*color: #86878b;*/
	color: #333333;
}

#wrapper {
	width: 1400px;
	margin: 0 auto;
	position: relative;
}

#middle {
	margin: 0 auto;
}

#content {
	
}


/* ------------------------------ */


/* Цвета */

.borderOrange {
	border: 1px solid #ff8b38 !important;
}

.borderBottomOrange {
	border-bottom: 2px solid #ff8b38;
}

.borderBottomWhite {
	border-bottom: 2px solid #fff;
}

.noBackground {
	background: none !important;
}


/* ------------------------------ */


/* Основы полей ввода */

.basicInputField input, textarea {
	width: 350px;
	height: 35px;
	font-size: 14px;
	margin-top: 15px !important;
	border: 1px solid transparent;
	padding-left: 10px;
}

.basicInputField textarea {
	height: 100px !important;
	padding-top: 10px;
	max-width: 350px;
	max-height: 100px;
}


/* ------------------------------ */


/* Область полей редактирования */

#inputArea {
	width: 1400px;
}

#inputAreaInner {
	width: 600px;
	margin: 50px auto 40px auto;
	padding: 25px 0 25px 0;
	/*background: #f5f5f5;*/
	background: #f8f8f8;
}

#inputAreaInner input, textarea {
	display: block;
	margin: 0 auto;
}

#inputAreaInner input[type="file"] {
	padding-left: 0px;
}

#inputAreaInner #avatarUpdateContainer {
	margin: 0 auto;
}


/* ------------------------------ */


/* Стили кнопок */

.submitButton {
	background: #ff8b38;
	color: #fff;
	width: 360px !important;
	transition-duration: 0.1s;
}

.submitButton:hover {
	background: #fc8126;
	color: #f6f6f6;
	transition-duration: 0.1s;
}

#optionButton {
	width: auto;
	margin: 10px 0 30px 0;
}

#optionButton a {
	text-align: center;
	color: #86878b;
	padding: 8px 10px 8px 10px;
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px dotted #86878b;
}

#optionButton a:hover {
	border-bottom: 2px solid #ff8b38;
}

#navButton {
	width: auto;
	padding: 0 0 30px 50px;
}

#navButton a {
	color: #86878b;
	font-size: 18px;
}


/* ------------------------------ */


/* Стили главных блоков */

#header {
	width: 1400px;
	height: 70px;
	background: #000;
	margin: 0 auto;
}

#headerInner {
	width: 1100px;
	height: 70px;
	position: relative;
	margin: 0 auto;
}


/* ------------------------------ */


/* Стили верхнего меню */

#topMenuRight {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

#topMenuRight ul li {
	float: left;
	height: 70px;
}

#topMenuRight ul li a {
	color: #b0b0b0;
	padding: 25px 15px 27px 15px;
	display: block;
	font-size: 16px;
	transition-duration: 0.1s;
}

#topMenuRight ul li a:hover {
	background: #ff9b51;
	color: #fff;
	transition-duration: 0.1s;
}


/* ------------------------------ */


/* Логотип */

#logo {
	position: absolute;
	top: 20px;
	left: 0px;
	color: #fff;
}


/* ------------------------------ */


/* Билборд (под хедером) */

#billboard {
	height: 90%;
	width: 1400px;
	margin: 0 auto;
	position: relative;
}

#billboardInner {
	width: 1100px;
	/*height: 395px;*/
	padding-top: 110px;
	margin: 0 auto;
}

#billboardInner h1, h2 {
	color: #fff;
	margin-bottom: 15px;
}

#billboardInner p {
	color: #b0b0b0 !important;
	margin: 40px 0 40px 0;
	display: block;
}

.separatorLine {
	width: 85px;
	height: 1px;
	padding: 10px 0 10px 0;
}

.whiteBorderButton {
	padding: 10px 15px 10px 15px;
	border: 3px solid #fff;
	color: #fff;
	font-size: 18px;
	transition-duration: 0.1s;
}

.whiteBorderButton:hover {
	border: 3px solid #ff9b51;
	color: #ff9b51;
	transition-duration: 0.1s;
}


/* ------------------------------ */


/* Форма регистрации */
#signPanel {
	width: 360px;
	height: 365px;
	position: absolute;
	right: 150px;	
	top: 110px;
}

#signPanelTop {
	height: 55px;
	background: #f5f5f5;
	text-align: center;
	transition-duration: 0.1s;
}

#signPanelTop:hover {
	background: #e4e4e4;
	transition-duration: 0.1s;
}

#signPanelTop a {
	display: block;
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	padding: 15px 30px 15px 30px;
	transition-duration: 0.1s;
}

#signPanelTop a:hover {
	color: #fff;
	transition-duration: 0.1s;
}

#signPanelMiddle {
	height: 260px;
	background: #fff;
}

#signPanelBottom {
	height: 50px;
	background: #ff9b51;
	border-radius: 0 0 5px 5px;
}

#signPanel input {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	border: 0px solid #d6d6d6;
}

.signPanelInputText {
	width: 280px;
	border-right: 1px solid #d6d6d6 !important;
	border-bottom: 1px solid #d6d6d6 !important;
	padding: 8px 0 8px 0;
}

#signPanelField {
	padding-top: 40px;
}

.signPanelSubmit {
	width: 360px;
	height: 50px;
	
}


/* ------------------------------ */


/* Профиль пользователя */

#userboard {
	width: 1400px;
	padding-bottom: 10px;
	background: #fff;
	margin: 0 auto;
}

#userboardInner {
	width: 1150px;
	padding: 35px 25px 50px 25px;
	margin: 0 auto;
	background: #f8f8f8;
	/*background: linear-gradient(to top, #cacacb, #e7e7e8); */
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

#avatar {
	position: relative;
	float: left;
}

#avatar img {
	width: 150px;
}

#userInfo {
	padding: 0 0 0 50px;
	overflow: hidden;
	line-height: 1.7;
}

#userInfo h2 {
	color: #000;
}

#userInfoDetails:after {
	clear: both;
}

#userDetails {
	width: 450px;
}

#userDetails textarea  {
	margin: 15px 0 0 0 !important;
}

#userInfoDetails #social #socialInner a:first-child img {
	margin-top: 0px;
}

#userInfoDetails #social #socialInner a img {
	margin-top: 10px;
}


/* Редактирование профиля пользователя */

#userInfo input {
	display: block;
}

#userInfo textarea {
	width: 340px;
	max-width: 340px;
	height: 140px;
	max-height: 140px;
	border: 0px solid black;
	padding: 10px;
}

#userDetailsLeft {
	float: left;
	width: 350px;
}

#userDetailsLeft input:first-child {
	margin-top: 0px !important;
}

#userDetailsRight {
	max-width: 420px;
	float: left;
	padding: 10px 20px 10px 20px;
	background: #ff9b51;
	border-radius: 10px;
	margin-left: 25px;
}

#userDetailsRight p {
	font-size: 18px;
	color: #fff;
	font-family: Bebas;
}

#avatarUpdateContainer {
	width: 350px;
}

#avatarUpdateContainer img {
	margin-top: 15px;
	width: 120px;
	display: block;
}

#avatarUpdateContainer input {
	margin: 0;
	padding: 0;
}


/* Соц. сети */

#social {
	width: 50px;
	float: right;
}

#socialInner {
	height: inherit;
	margin: 0 auto;
}

#socialInner img {
	width: 45px;
}

#socialInner a:last-child img {
}


/* ------------------------------ */


/* Область проекта */

#projectArea {
	background: #fff;
}

#projectAreaInner {
	width: 1100px;
	margin: 0 auto;
	padding: 20px 0 10px 0;
}

#projectContent {
	padding: 50px 0 80px 0;
}

#projectContent h2 {
	color: #000;
}

#projectContent a{
	color: #86878b;
	font-weight: bold;
	font-size: 18px;
	transition-duration: 0.1s;
	margin: 25px 0 20px 0;
	position: relative;
}

#projectContent a:hover {
	transition-duration: 0.1s;
	color: #ff8b38;
}

#projectContent  #projectLink {
	padding: 25px 0 20px 0;
}

#projectContent img {
	width: 500px;
	margin-left: 70px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

#projectAreaInnerLeft {
	width: 500px;
	float: left;
}

#projectAreaInnerRight {
	float: left;
	overflow: hidden;
	padding: 10px 10px 10px 0;
}

#projectAreaInnerRight:after {
	clear: both;
}


.pageMessage {
	padding: 15px 0 30px 20px;
	font-size: 18px;
	display: block;
}


/* ------------------------------ */


/* Подвал (Footer) */

footer {
	width: 1400px;
	margin: 0 auto;
	background: #000;
}

#footerInner {
	width: 1100px;
	height: 80px;
	margin: 0 auto;
}

#footerInner #socialInner {
	width: 110px;
}

#footerInner #socialInner img {
	width: 40px;
	float: left;
	padding: 20px 30px 0 0;
}

#footerInner #socialInner a:last-child img {
	padding: 20px 0 0 0;
}


/* ------------------------------ */


/* Форма регистрации */

.registrationArea {
	height: 67.5%;
}


/* ------------------------------ */


/* Панель управления (горизонтальная) */

#controlPanel #optionButton:first-child {
	margin-left: 0px;
}

#controlPanel #optionButton {
	float: left;
}

#controlPanel #optionButton {
	margin-left: 10px;
}

#controlPanel div:last-child {
	clear: both;
}


