<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../styles/style_1.css">
</head>
<body>
	<div id="billboard">
		<header id="header">
			<div id="headerInner">
				<div id="logo">
					<a href="index.php"><h2>FOLIO</h2></a>
				</div>
				<nav id="topMenuRight">
					<ul>
						<li><a href="index.php?c=about">О ПРОЕКТЕ</a></li>
						<li><a href="#contacts">КОНТАКТЫ</a></li>
						<? 
							session_start();
							if(isset($_SESSION['sid'])) : ?>
								<li><a href="index.php?c=user&act=get&id=<?=$_COOKIE['user_id']?>">ПРОФИЛЬ</a></li>
								<li><a href="index.php?c=user&act=logout">ВЫЙТИ</a></li>
						<? endif; ?>
					</ul>
				</nav>
			</div>
		</header>	
		
		<div id="avatar"></div>
		<h1>Павел Ковыршин</h1>
	</div>
	
	<div id="projectArea">
		<h1>МОИ ПРОЕКТЫ</h1>
		<div id="projectAreaInner">
			<div id="itemsContainer">
				<div id="projectItem">
					<img src="../images/pavlinkov/example.png"/>
				</div><div id="projectItem">
					<img src="../images/pavlinkov/example.png"/>
				</div><div id="projectItem">
					<img src="../images/pavlinkov/example.png"/>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div id="footerInner">
			<div id="footerInnerLeft">
				<div id="avatar"></div>
				<div id="info">
					<h1>Павел Ковыршин</h1>
				</div>
			</div>
			<div id="footerInnerRight">
			
			</div>
		</div>
	</footer>
</body>
</html>